PlanGoGoAdmin/Service References/MasterCity/MasterCity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MasterCityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterCityDTO" nillable="true" type="tns:MasterCityDTO" />
  <xs:complexType name="ArrayOfMasterCityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterCityDTO" nillable="true" type="tns:MasterCityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterCityDTO" nillable="true" type="tns:ArrayOfMasterCityDTO" />
</xs:schema>