PlanGoGoAdmin/Service References/MasterCity/MasterCity2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23457/Admin/MasterCity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" />
  <xs:element name="Admin_MasterCityCheckExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="masterCityDTO" nillable="true" type="q1:MasterCityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCityCheckExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterCityCheckExistsResult" nillable="true" type="q2:ArrayOfMasterCityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCityGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCityGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterCityGetResult" nillable="true" type="q3:ArrayOfMasterCityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCityGetOnStateId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCityGetOnStateIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterCityGetOnStateIdResult" nillable="true" type="q4:ArrayOfMasterCityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCityGetOnCityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCityGetOnCityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterCityGetOnCityIdResult" nillable="true" type="q5:MasterCityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCityUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="masterCityDTO" nillable="true" type="q6:MasterCityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCityUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>