ServiceClient/Service References/UsersService/UsersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Schedulers/UsersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites" />
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Schedulers/UsersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUserAttractionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAttractionEntity" nillable="true" type="tns:UserAttractionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAttractionEntity" nillable="true" type="tns:ArrayOfUserAttractionEntity" />
  <xs:complexType name="UserAttractionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUTCDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedUTCDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NoOfBreakFeastSlots" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfDinnerSlots" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfHotelsVisited" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfHours" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfLunchSlots" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfNights" type="xs:int" />
      <xs:element minOccurs="0" name="StartLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalDistance" type="xs:int" />
      <xs:element minOccurs="0" name="TotalExpenditure" type="xs:decimal" />
      <xs:element minOccurs="0" name="TourName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="userTable_OrderAttraction" nillable="true" type="q1:ArrayOfuserTable_OrderAttraction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAttractionEntity" nillable="true" type="tns:UserAttractionEntity" />
  <xs:complexType name="UserEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressTwo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUTCDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaceBookId" type="xs:int" />
      <xs:element minOccurs="0" name="GooglePlusId" type="xs:int" />
      <xs:element minOccurs="0" name="MasterCityId" type="xs:int" />
      <xs:element minOccurs="0" name="MasterCountryId" type="xs:int" />
      <xs:element minOccurs="0" name="MasterStateId" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedUTCDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTripId" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserEntity" nillable="true" type="tns:UserEntity" />
  <xs:complexType name="UserTourInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarMileage" type="xs:decimal" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrivingBreak" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuelPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsTripDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoOfCars" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfPersons" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelModeId" type="xs:int" />
      <xs:element minOccurs="0" name="TripName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserTripId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTourInformation" nillable="true" type="tns:UserTourInformation" />
  <xs:complexType name="ArrayOfUserTourInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTourInformation" nillable="true" type="tns:UserTourInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTourInformation" nillable="true" type="tns:ArrayOfUserTourInformation" />
  <xs:complexType name="ArrayOfUserTable_UpdatedBreaks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTable_UpdatedBreaks" nillable="true" type="tns:UserTable_UpdatedBreaks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTable_UpdatedBreaks" nillable="true" type="tns:ArrayOfUserTable_UpdatedBreaks" />
  <xs:complexType name="UserTable_UpdatedBreaks">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageMileage" type="xs:int" />
      <xs:element minOccurs="0" name="BreakAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="BreakExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="BreakFastAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="BreakFastExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="CarRentalExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="DayBreakAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DayBreakExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="DinnerAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DinnerExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsAverageMileageUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakFastAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakFastExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCarRentalExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDayBreakAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDayBreakExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDinnerAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDinnerExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLunchAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLunchExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoOfCarsUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoOfRoomsUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedBreakFast" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedDayBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedDinnerBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedLunchBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="LunchAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="LunchExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="NoOfCars" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfRooms" type="xs:int" />
      <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateDayEndTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdateDayStartTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedBreakFastTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedBreakTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedDinnerTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedLunchTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTable_UpdatedBreaks" nillable="true" type="tns:UserTable_UpdatedBreaks" />
  <xs:complexType name="ArrayOfUserTable_AttractionRequestOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTable_AttractionRequestOrder" nillable="true" type="tns:UserTable_AttractionRequestOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTable_AttractionRequestOrder" nillable="true" type="tns:ArrayOfUserTable_AttractionRequestOrder" />
  <xs:complexType name="UserTable_AttractionRequestOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="IsRequestedAfterBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequestedAfterBreakFast" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequestedAfterDinner" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequestedAfterLunch" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="StayTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTable_AttractionRequestOrder" nillable="true" type="tns:UserTable_AttractionRequestOrder" />
  <xs:complexType name="ArrayOfUserTable_UpdatedBreaksTemp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTable_UpdatedBreaksTemp" nillable="true" type="tns:UserTable_UpdatedBreaksTemp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTable_UpdatedBreaksTemp" nillable="true" type="tns:ArrayOfUserTable_UpdatedBreaksTemp" />
  <xs:complexType name="UserTable_UpdatedBreaksTemp">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageMileage" type="xs:int" />
      <xs:element minOccurs="0" name="BreakAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="BreakExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="BreakFastAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="BreakFastExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="CarRentalExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="DayBreakAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DayBreakExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="DinnerAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DinnerExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAverageMileageUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakFastAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakFastExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCarRentalExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDayBreakAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDayBreakExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDinnerAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDinnerExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLunchAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLunchExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoOfCarsUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoOfRoomsUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedBreakFast" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedDayBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedDinnerBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedLunchBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="LunchAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="LunchExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="NoOfAttractions" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfCars" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfRooms" type="xs:int" />
      <xs:element minOccurs="0" name="RequestDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDayEndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDayStartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBreakFastTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBreakTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDinnerTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedLunchTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTable_UpdatedBreaksTemp" nillable="true" type="tns:UserTable_UpdatedBreaksTemp" />
  <xs:complexType name="ArrayOfUserTripBuildStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTripBuildStatus" nillable="true" type="tns:UserTripBuildStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTripBuildStatus" nillable="true" type="tns:ArrayOfUserTripBuildStatus" />
  <xs:complexType name="UserTripBuildStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormattedMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserTripBuildMessageId" type="xs:int" />
      <xs:element minOccurs="0" name="UserTripBuildStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="UserTripId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTripBuildStatus" nillable="true" type="tns:UserTripBuildStatus" />
  <xs:complexType name="ArrayOfUser_GetDirectionsSteps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User_GetDirectionsSteps" nillable="true" type="tns:User_GetDirectionsSteps" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser_GetDirectionsSteps" nillable="true" type="tns:ArrayOfUser_GetDirectionsSteps" />
  <xs:complexType name="User_GetDirectionsSteps">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionTravelStepsId" type="xs:int" />
      <xs:element minOccurs="0" name="AttractionTravelTimeDistanceId" type="xs:int" />
      <xs:element minOccurs="0" name="DistanceCovered" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanceCoveredTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance_Value" type="xs:int" />
      <xs:element minOccurs="0" name="Duration_Value" type="xs:int" />
      <xs:element minOccurs="0" name="EndDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="End_location_lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="End_location_lng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsNearestRestarentDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start_location_lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start_location_lng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Travel_mode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_GetDirectionsSteps" nillable="true" type="tns:User_GetDirectionsSteps" />
</xs:schema>