ServiceClient/Service References/UsersService/UsersService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Schedulers/UsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" />
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Schedulers/UsersService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.JsonParameters" />
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Schedulers/UsersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites" />
  <xs:element name="User_DeleteUserAttractions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAttractionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_DeleteUserAttractionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserAttractionSaved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserAttractionSavedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_GetUserAttractionSavedResult" nillable="true" type="q1:ArrayOfUserAttractionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_GetUserInformationResult" nillable="true" type="q2:UserEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertingUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="userEntity" nillable="true" type="q3:UserEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertingUserInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserAttractionUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="userAttractionEntity" nillable="true" type="q4:UserAttractionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserAttractionUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserExistChecking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserExistCheckingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_UserExistCheckingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_AddUpdateTourName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tourName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_AddUpdateTourNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_AddUpdateTourNameResult" nillable="true" type="q5:UserTourInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetTourInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetTourInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_GetTourInformationResult" nillable="true" type="q6:ArrayOfUserTourInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertUpdateTripCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessEntites.JsonParameters" minOccurs="0" name="cityVisitList" nillable="true" type="q7:ArrayOfCityVisitList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertUpdateTripCitiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetCityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="User_GetCityListResult" nillable="true" type="q8:ArrayOfpublic_GetCityList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertCategoryInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="category" nillable="true" type="q9:ArrayOfuserTable_Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertCategoryInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_LogUserTripInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="travelModeId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="attractionID" nillable="true" type="q10:ArrayOfuserTable_OnlyId" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="listGetOrderOfAttractionVisit" nillable="true" type="q11:ArrayOfGetOrderOfAttractionVisit" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="userTable_UpdatedBreaks" nillable="true" type="q12:ArrayOfUserTable_UpdatedBreaks" />
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_LogUserTripInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserTripGetAttractions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserTripGetAttractionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_UserTripGetAttractionsResult" nillable="true" type="q13:ArrayOfUserTable_AttractionRequestOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserStoredAttractinInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserStoredAttractinInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="User_GetUserStoredAttractinInfoResult" nillable="true" type="q14:ArrayOfGetOrderOfAttractionVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_RequestedBreaks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_RequestedBreaksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_RequestedBreaksResult" nillable="true" type="q15:ArrayOfUserTable_UpdatedBreaksTemp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserTripBuildStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserTripBuildStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_UserTripBuildStatusResult" nillable="true" type="q16:ArrayOfUserTripBuildStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetNearestRestaruents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attractionsId" type="xs:int" />
        <xs:element minOccurs="0" name="travelModeId" type="xs:int" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="coodinate" nillable="true" type="q17:ArrayOfCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetNearestRestaruentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="User_GetNearestRestaruentsResult" nillable="true" type="q18:ArrayOfpublic_FilterAttractions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserTrip_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="userTourInformation" nillable="true" type="q19:UserTourInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserTrip_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserRequestedAttraction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="isSource" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="googleSearchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="breakType" type="xs:int" />
        <xs:element minOccurs="0" name="breakDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserRequestedAttractionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetTourInformationOnTripId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetTourInformationOnTripIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_GetTourInformationOnTripIdResult" nillable="true" type="q20:UserTourInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetOrderOfRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetOrderOfRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_GetOrderOfRequestResult" nillable="true" type="q21:ArrayOfUserTable_AttractionRequestOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertUserRequested">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="attractionRequestOrder" nillable="true" type="q22:ArrayOfUserTable_AttractionRequestOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertUserRequestedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_CheckTheCalculationPartIsDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_CheckTheCalculationPartIsDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="User_CheckTheCalculationPartIsDoneResult" nillable="true" type="q23:ArrayOfGetOrderOfAttractionVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>