ServiceClient/Service References/UsersService/UsersService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Schedulers/UsersService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfuserTable_OrderAttraction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userTable_OrderAttraction" nillable="true" type="tns:userTable_OrderAttraction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuserTable_OrderAttraction" nillable="true" type="tns:ArrayOfuserTable_OrderAttraction" />
  <xs:complexType name="userTable_OrderAttraction">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DestinationAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ReachTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeRequiredToView" type="xs:int" />
      <xs:element minOccurs="0" name="TravelModeId" type="xs:int" />
      <xs:element minOccurs="0" name="TravelTime" type="xs:int" />
      <xs:element minOccurs="0" name="ViewTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userTable_OrderAttraction" nillable="true" type="tns:userTable_OrderAttraction" />
  <xs:complexType name="ArrayOfpublic_GetCityList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="public_GetCityList" nillable="true" type="tns:public_GetCityList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpublic_GetCityList" nillable="true" type="tns:ArrayOfpublic_GetCityList" />
  <xs:complexType name="public_GetCityList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="RecordIndex" type="xs:int" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="public_GetCityList" nillable="true" type="tns:public_GetCityList" />
  <xs:complexType name="ArrayOfuserTable_Category">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userTable_Category" nillable="true" type="tns:userTable_Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuserTable_Category" nillable="true" type="tns:ArrayOfuserTable_Category" />
  <xs:complexType name="userTable_Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userTable_Category" nillable="true" type="tns:userTable_Category" />
  <xs:complexType name="ArrayOfGetOrderOfAttractionVisit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetOrderOfAttractionVisit" nillable="true" type="tns:GetOrderOfAttractionVisit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetOrderOfAttractionVisit" nillable="true" type="tns:ArrayOfGetOrderOfAttractionVisit" />
  <xs:complexType name="GetOrderOfAttractionVisit">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionTravelTimeDistanceId" type="xs:int" />
      <xs:element minOccurs="0" name="AttractionsId" type="xs:int" />
      <xs:element minOccurs="0" name="BreakInformationId" type="xs:int" />
      <xs:element minOccurs="0" name="DateAndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCloseTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationDirection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationLatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationLongitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationOpenTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationPhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationPhotoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationRatingTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationSearchText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventEndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoodExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsDistanceCalculationMissing" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLunchDinnerBreakTime" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNeedDrivningBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOrderUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPersonalRequest" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUpdatedViewTime" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReachTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceCloseTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceDirection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceLatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceLongitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceOpenTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourcePhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourcePhotoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceRatingTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceSearchText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StayExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="TimeRequiredToView" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelModeId" type="xs:int" />
      <xs:element minOccurs="0" name="TravelTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelTimeHours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelTimeSeconds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOrder" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderOfAttractionVisit" nillable="true" type="tns:GetOrderOfAttractionVisit" />
  <xs:complexType name="ArrayOfCoordinate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coordinate" nillable="true" type="tns:Coordinate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoordinate" nillable="true" type="tns:ArrayOfCoordinate" />
  <xs:complexType name="Coordinate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Least" type="xs:boolean" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coordinate" nillable="true" type="tns:Coordinate" />
  <xs:complexType name="ArrayOfpublic_FilterAttractions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="public_FilterAttractions" nillable="true" type="tns:public_FilterAttractions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpublic_FilterAttractions" nillable="true" type="tns:ArrayOfpublic_FilterAttractions" />
  <xs:complexType name="public_FilterAttractions">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressTwo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AllCategoriesId" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="AttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttractionsId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoogleInternational_phone_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoogleRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoogleSearchText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhotoURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RankId" type="xs:int" />
      <xs:element minOccurs="0" name="RecordIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TravelTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="public_FilterAttractions" nillable="true" type="tns:public_FilterAttractions" />
  <xs:complexType name="ArrayOfuserTable_OnlyId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userTable_OnlyId" nillable="true" type="tns:userTable_OnlyId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuserTable_OnlyId" nillable="true" type="tns:ArrayOfuserTable_OnlyId" />
  <xs:complexType name="userTable_OnlyId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userTable_OnlyId" nillable="true" type="tns:userTable_OnlyId" />
</xs:schema>