ServiceClient/Service References/UsersService/UsersService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAttractionXCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttractionXCategory" nillable="true" type="tns:AttractionXCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttractionXCategory" nillable="true" type="tns:ArrayOfAttractionXCategory" />
  <xs:complexType name="AttractionXCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttractionXCategory" nillable="true" type="tns:AttractionXCategory" />
</xs:schema>