ServiceClient/Service References/GetListValues/GetListValues5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PlanGoGoService/GetListValues.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUserTable_UpdatedBreaks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTable_UpdatedBreaks" nillable="true" type="tns:UserTable_UpdatedBreaks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTable_UpdatedBreaks" nillable="true" type="tns:ArrayOfUserTable_UpdatedBreaks" />
  <xs:complexType name="UserTable_UpdatedBreaks">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageMileage" type="xs:int" />
      <xs:element minOccurs="0" name="BreakAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="BreakExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="BreakFastAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="BreakFastExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="CarRentalExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="DayBreakAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DayBreakExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="DinnerAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DinnerExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsAverageMileageUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakFastAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakFastExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCarRentalExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDayBreakAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDayBreakExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDinnerAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDinnerExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLunchAdded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLunchExpenseUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoOfCarsUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoOfRoomsUserUpdated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedBreakFast" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedDayBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedDinnerBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedLunchBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="LunchAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="LunchExpense" type="xs:decimal" />
      <xs:element minOccurs="0" name="NoOfCars" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfRooms" type="xs:int" />
      <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateDayEndTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdateDayStartTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdateDinnerMinimumTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedBreakFastMinimumTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedBreakFastTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedBreakMinimumTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedBreakTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedDinnerTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedLunchMinimumTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedLunchTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTable_UpdatedBreaks" nillable="true" type="tns:UserTable_UpdatedBreaks" />
  <xs:complexType name="ArrayOfAttractionPhotoReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttractionPhotoReference" nillable="true" type="tns:AttractionPhotoReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttractionPhotoReference" nillable="true" type="tns:ArrayOfAttractionPhotoReference" />
  <xs:complexType name="AttractionPhotoReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionPhotosId" type="xs:int" />
      <xs:element minOccurs="0" name="PhotoURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo_reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttractionPhotoReference" nillable="true" type="tns:AttractionPhotoReference" />
</xs:schema>