ServiceClient/Service References/GetListValues/GetListValues6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Scheduler" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Scheduler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGoogleTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoogleTypes" nillable="true" type="tns:GoogleTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoogleTypes" nillable="true" type="tns:ArrayOfGoogleTypes" />
  <xs:complexType name="GoogleTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoogleTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="IsNeeded" type="xs:boolean" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoogleTypes" nillable="true" type="tns:GoogleTypes" />
</xs:schema>