PlanGoGoAdmin/Service References/AdminCountry/Country.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Country" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23457/Admin/Country.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23457/Admin/Country.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23457/Admin/Country.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICountry_Admin_UpdateCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_UpdateCountry" />
  </wsdl:message>
  <wsdl:message name="ICountry_Admin_UpdateCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_UpdateCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ICountry_Admin_GetCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_GetCountry" />
  </wsdl:message>
  <wsdl:message name="ICountry_Admin_GetCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_GetCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ICountry_Admin_CheckCountryExist_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_CheckCountryExist" />
  </wsdl:message>
  <wsdl:message name="ICountry_Admin_CheckCountryExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_CheckCountryExistResponse" />
  </wsdl:message>
  <wsdl:message name="ICountry_Admin_GetCountryOnId_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_GetCountryOnId" />
  </wsdl:message>
  <wsdl:message name="ICountry_Admin_GetCountryOnId_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_GetCountryOnIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICountry">
    <wsdl:operation name="Admin_UpdateCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountry/Admin_UpdateCountry" message="tns:ICountry_Admin_UpdateCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountry/Admin_UpdateCountryResponse" message="tns:ICountry_Admin_UpdateCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Admin_GetCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountry/Admin_GetCountry" message="tns:ICountry_Admin_GetCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountry/Admin_GetCountryResponse" message="tns:ICountry_Admin_GetCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Admin_CheckCountryExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountry/Admin_CheckCountryExist" message="tns:ICountry_Admin_CheckCountryExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountry/Admin_CheckCountryExistResponse" message="tns:ICountry_Admin_CheckCountryExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Admin_GetCountryOnId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountry/Admin_GetCountryOnId" message="tns:ICountry_Admin_GetCountryOnId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountry/Admin_GetCountryOnIdResponse" message="tns:ICountry_Admin_GetCountryOnId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICountry" type="tns:ICountry">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Admin_UpdateCountry">
      <soap:operation soapAction="http://tempuri.org/ICountry/Admin_UpdateCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_GetCountry">
      <soap:operation soapAction="http://tempuri.org/ICountry/Admin_GetCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_CheckCountryExist">
      <soap:operation soapAction="http://tempuri.org/ICountry/Admin_CheckCountryExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_GetCountryOnId">
      <soap:operation soapAction="http://tempuri.org/ICountry/Admin_GetCountryOnId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Country">
    <wsdl:port name="BasicHttpBinding_ICountry" binding="tns:BasicHttpBinding_ICountry">
      <soap:address location="http://localhost:23457/Admin/Country.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>