PlanGoGoAdmin/Service References/MasterState/MasterState2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23457/Admin/MasterState.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" />
  <xs:element name="Admin_MasterStateUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="masterStateDTO" nillable="true" type="q1:MasterStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterStateUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterStateGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterStateGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterStateGetResult" nillable="true" type="q2:ArrayOfMasterStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterStateCheckExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="masterStateDTO" nillable="true" type="q3:MasterStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterStateCheckExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterStateCheckExistsResult" nillable="true" type="q4:ArrayOfMasterStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterStateGetOnStateId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterStateGetOnStateIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterStateGetOnStateIdResult" nillable="true" type="q5:MasterStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterStateGetOnCountryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterStateGetOnCountryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterStateGetOnCountryIdResult" nillable="true" type="q6:ArrayOfMasterStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>