GoogleMapsWebAPI/Service References/Scheduler/Scheduler3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfuser_AttractionTravelTimeDistance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user_AttractionTravelTimeDistance" nillable="true" type="tns:user_AttractionTravelTimeDistance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser_AttractionTravelTimeDistance" nillable="true" type="tns:ArrayOfuser_AttractionTravelTimeDistance" />
  <xs:complexType name="user_AttractionTravelTimeDistance">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinationAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="Distance" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="TravelModeId" type="xs:int" />
      <xs:element minOccurs="0" name="TravelTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user_AttractionTravelTimeDistance" nillable="true" type="tns:user_AttractionTravelTimeDistance" />
  <xs:complexType name="ArrayOfuserTable_Category">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userTable_Category" nillable="true" type="tns:userTable_Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuserTable_Category" nillable="true" type="tns:ArrayOfuserTable_Category" />
  <xs:complexType name="userTable_Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userTable_Category" nillable="true" type="tns:userTable_Category" />
  <xs:complexType name="ArrayOfuser_AttractionsActiveStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user_AttractionsActiveStatus" nillable="true" type="tns:user_AttractionsActiveStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser_AttractionsActiveStatus" nillable="true" type="tns:ArrayOfuser_AttractionsActiveStatus" />
  <xs:complexType name="user_AttractionsActiveStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionsId" type="xs:int" />
      <xs:element minOccurs="0" name="CloseTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MasterWeekId" type="xs:int" />
      <xs:element minOccurs="0" name="OpenTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user_AttractionsActiveStatus" nillable="true" type="tns:user_AttractionsActiveStatus" />
  <xs:complexType name="ArrayOfuserTable_OnlyId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userTable_OnlyId" nillable="true" type="tns:userTable_OnlyId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuserTable_OnlyId" nillable="true" type="tns:ArrayOfuserTable_OnlyId" />
  <xs:complexType name="userTable_OnlyId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userTable_OnlyId" nillable="true" type="tns:userTable_OnlyId" />
</xs:schema>