PlanGoGoAdmin/Service References/Attractions/Attractions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Attractions" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23457/Admin/Attractions.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23457/Admin/Attractions.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23457/Admin/Attractions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAttractions_AttractionsUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:AttractionsUpdate" />
  </wsdl:message>
  <wsdl:message name="IAttractions_AttractionsUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttractionsUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IAttractions_AttractionsCheckExists_InputMessage">
    <wsdl:part name="parameters" element="tns:AttractionsCheckExists" />
  </wsdl:message>
  <wsdl:message name="IAttractions_AttractionsCheckExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttractionsCheckExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IAttractions_AttractionsOnCityId_InputMessage">
    <wsdl:part name="parameters" element="tns:AttractionsOnCityId" />
  </wsdl:message>
  <wsdl:message name="IAttractions_AttractionsOnCityId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttractionsOnCityIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAttractions_AttractionsOnAttractionsId_InputMessage">
    <wsdl:part name="parameters" element="tns:AttractionsOnAttractionsId" />
  </wsdl:message>
  <wsdl:message name="IAttractions_AttractionsOnAttractionsId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttractionsOnAttractionsIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAttractions">
    <wsdl:operation name="AttractionsUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttractions/AttractionsUpdate" message="tns:IAttractions_AttractionsUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttractions/AttractionsUpdateResponse" message="tns:IAttractions_AttractionsUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttractionsCheckExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttractions/AttractionsCheckExists" message="tns:IAttractions_AttractionsCheckExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttractions/AttractionsCheckExistsResponse" message="tns:IAttractions_AttractionsCheckExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttractionsOnCityId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttractions/AttractionsOnCityId" message="tns:IAttractions_AttractionsOnCityId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttractions/AttractionsOnCityIdResponse" message="tns:IAttractions_AttractionsOnCityId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttractionsOnAttractionsId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttractions/AttractionsOnAttractionsId" message="tns:IAttractions_AttractionsOnAttractionsId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttractions/AttractionsOnAttractionsIdResponse" message="tns:IAttractions_AttractionsOnAttractionsId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAttractions" type="tns:IAttractions">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AttractionsUpdate">
      <soap:operation soapAction="http://tempuri.org/IAttractions/AttractionsUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttractionsCheckExists">
      <soap:operation soapAction="http://tempuri.org/IAttractions/AttractionsCheckExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttractionsOnCityId">
      <soap:operation soapAction="http://tempuri.org/IAttractions/AttractionsOnCityId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttractionsOnAttractionsId">
      <soap:operation soapAction="http://tempuri.org/IAttractions/AttractionsOnAttractionsId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Attractions">
    <wsdl:port name="BasicHttpBinding_IAttractions" binding="tns:BasicHttpBinding_IAttractions">
      <soap:address location="http://localhost:23457/Admin/Attractions.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>