ServiceClient/Service References/AdminCountry/Country3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MasterPriceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Food" type="xs:decimal" />
      <xs:element minOccurs="0" name="MasterPriceInfoId" type="xs:int" />
      <xs:element minOccurs="0" name="PriveLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Stay" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterPriceInfo" nillable="true" type="tns:MasterPriceInfo" />
  <xs:complexType name="ArrayOfMasterPriceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterPriceInfo" nillable="true" type="tns:MasterPriceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterPriceInfo" nillable="true" type="tns:ArrayOfMasterPriceInfo" />
</xs:schema>