ServiceClient/Service References/AdminCountry/Country1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Admin/Country.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" />
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Admin/Country.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" />
  <xs:element name="Admin_UpdateCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="dto" nillable="true" type="q1:MasterCountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_UpdateCountryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_GetCountry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_GetCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_GetCountryResult" nillable="true" type="q2:ArrayOfMasterCountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_CheckCountryExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_CheckCountryExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_CheckCountryExistResult" nillable="true" type="q3:ArrayOfMasterCountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_GetCountryOnId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_GetCountryOnIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_GetCountryOnIdResult" nillable="true" type="q4:MasterCountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterPriceInfoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" minOccurs="0" name="dto" nillable="true" type="q5:MasterPriceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterPriceInfoUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_GetMasterPriceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_GetMasterPriceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" minOccurs="0" name="Admin_GetMasterPriceInfoResult" nillable="true" type="q6:ArrayOfMasterPriceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>