PlanGoGoAdmin/Service References/MissingDistanceAttractionsRecords/MissingDistanceAttractionsRecords1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMissingDistanceAttractionsRecordsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MissingDistanceAttractionsRecordsDTO" nillable="true" type="tns:MissingDistanceAttractionsRecordsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMissingDistanceAttractionsRecordsDTO" nillable="true" type="tns:ArrayOfMissingDistanceAttractionsRecordsDTO" />
  <xs:complexType name="MissingDistanceAttractionsRecordsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesinationAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterTravelModeID" type="xs:int" />
      <xs:element minOccurs="0" name="MissingDistanceAttractionsRecordsID" type="xs:int" />
      <xs:element minOccurs="0" name="TravelType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MissingDistanceAttractionsRecordsDTO" nillable="true" type="tns:MissingDistanceAttractionsRecordsDTO" />
</xs:schema>