PlanGoGoAdmin/Service References/MissingDistanceAttractionsRecords/MissingDistanceAttractionsRecords.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MissingDistanceAttractionsRecords" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23457/Admin/MissingDistanceAttractionsRecords.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23457/Admin/MissingDistanceAttractionsRecords.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23457/Admin/MissingDistanceAttractionsRecords.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMissingDistanceAttractionsRecords_Admin_MissingDistanceAttractionsRecordsGet_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_MissingDistanceAttractionsRecordsGet" />
  </wsdl:message>
  <wsdl:message name="IMissingDistanceAttractionsRecords_Admin_MissingDistanceAttractionsRecordsGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_MissingDistanceAttractionsRecordsGetResponse" />
  </wsdl:message>
  <wsdl:message name="IMissingDistanceAttractionsRecords_Admin_MissingDistanceAttractionsRecordsXAttractionsGet_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_MissingDistanceAttractionsRecordsXAttractionsGet" />
  </wsdl:message>
  <wsdl:message name="IMissingDistanceAttractionsRecords_Admin_MissingDistanceAttractionsRecordsXAttractionsGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_MissingDistanceAttractionsRecordsXAttractionsGetResponse" />
  </wsdl:message>
  <wsdl:portType name="IMissingDistanceAttractionsRecords">
    <wsdl:operation name="Admin_MissingDistanceAttractionsRecordsGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissingDistanceAttractionsRecords/Admin_MissingDistanceAttractionsRecordsGet" message="tns:IMissingDistanceAttractionsRecords_Admin_MissingDistanceAttractionsRecordsGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissingDistanceAttractionsRecords/Admin_MissingDistanceAttractionsRecordsGetResponse" message="tns:IMissingDistanceAttractionsRecords_Admin_MissingDistanceAttractionsRecordsGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Admin_MissingDistanceAttractionsRecordsXAttractionsGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissingDistanceAttractionsRecords/Admin_MissingDistanceAttractionsRecordsXAttractionsGet" message="tns:IMissingDistanceAttractionsRecords_Admin_MissingDistanceAttractionsRecordsXAttractionsGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissingDistanceAttractionsRecords/Admin_MissingDistanceAttractionsRecordsXAttractionsGetResponse" message="tns:IMissingDistanceAttractionsRecords_Admin_MissingDistanceAttractionsRecordsXAttractionsGet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMissingDistanceAttractionsRecords" type="tns:IMissingDistanceAttractionsRecords">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Admin_MissingDistanceAttractionsRecordsGet">
      <soap:operation soapAction="http://tempuri.org/IMissingDistanceAttractionsRecords/Admin_MissingDistanceAttractionsRecordsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_MissingDistanceAttractionsRecordsXAttractionsGet">
      <soap:operation soapAction="http://tempuri.org/IMissingDistanceAttractionsRecords/Admin_MissingDistanceAttractionsRecordsXAttractionsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MissingDistanceAttractionsRecords">
    <wsdl:port name="BasicHttpBinding_IMissingDistanceAttractionsRecords" binding="tns:BasicHttpBinding_IMissingDistanceAttractionsRecords">
      <soap:address location="http://localhost:23457/Admin/MissingDistanceAttractionsRecords.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>