PlanGoGoAdmin/Service References/AttractionTravelTimeDistance/AttractionTravelTimeDistance2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAttractionTravelTimeDistanceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttractionTravelTimeDistanceDTO" nillable="true" type="tns:AttractionTravelTimeDistanceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttractionTravelTimeDistanceDTO" nillable="true" type="tns:ArrayOfAttractionTravelTimeDistanceDTO" />
  <xs:complexType name="AttractionTravelTimeDistanceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionTravelTimeDistanceId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelModeId" type="xs:int" />
      <xs:element minOccurs="0" name="TravelTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttractionTravelTimeDistanceDTO" nillable="true" type="tns:AttractionTravelTimeDistanceDTO" />
</xs:schema>