PlanGoGoAdmin/Service References/AttractionTravelTimeDistance/AttractionTravelTimeDistance.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23457/Admin/AttractionTravelTimeDistance.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" />
  <xs:element name="Admin_AttractionTravelTimeDistanceGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttractionsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_AttractionTravelTimeDistanceGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_AttractionTravelTimeDistanceGetResult" nillable="true" type="q1:ArrayOfAttractionTravelTimeDistanceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>