PlanGoGoAdmin/Service References/MasterCategory/MasterCategory2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMasterCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterCategoryDTO" nillable="true" type="tns:MasterCategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterCategoryDTO" nillable="true" type="tns:ArrayOfMasterCategoryDTO" />
  <xs:complexType name="MasterCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterCategoryDTO" nillable="true" type="tns:MasterCategoryDTO" />
</xs:schema>