PlanGoGo/Service References/UsersService/UsersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfuserTable_OrderAttraction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userTable_OrderAttraction" nillable="true" type="tns:userTable_OrderAttraction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuserTable_OrderAttraction" nillable="true" type="tns:ArrayOfuserTable_OrderAttraction" />
  <xs:complexType name="userTable_OrderAttraction">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DestinationAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ReachTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceAttractionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeRequiredToView" type="xs:int" />
      <xs:element minOccurs="0" name="TravelModeId" type="xs:int" />
      <xs:element minOccurs="0" name="TravelTime" type="xs:int" />
      <xs:element minOccurs="0" name="ViewTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userTable_OrderAttraction" nillable="true" type="tns:userTable_OrderAttraction" />
</xs:schema>