PlanGoGo/Service References/UsersService/UsersService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23457/Schedulers/UsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" />
  <xs:element name="User_DeleteUserAttractions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAttractionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_DeleteUserAttractionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserAttractionSaved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserAttractionSavedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_GetUserAttractionSavedResult" nillable="true" type="q1:ArrayOfUserAttractionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_GetUserInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="User_GetUserInformationResult" nillable="true" type="q2:ArrayOfUserEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertingUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="userEntity" nillable="true" type="q3:UserEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_InsertingUserInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserAttractionUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" minOccurs="0" name="userAttractionEntity" nillable="true" type="q4:UserAttractionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserAttractionUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserExistChecking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_UserExistCheckingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_UserExistCheckingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>