PlanGoGo/Service References/UsersService/UsersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23457/Schedulers/UsersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites" />
  <xs:complexType name="ArrayOfUserAttractionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAttractionEntity" nillable="true" type="tns:UserAttractionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAttractionEntity" nillable="true" type="tns:ArrayOfUserAttractionEntity" />
  <xs:complexType name="UserAttractionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUTCDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedUTCDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NoOfBreakFeastSlots" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfDinnerSlots" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfHotelsVisited" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfHours" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfLunchSlots" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfNights" type="xs:int" />
      <xs:element minOccurs="0" name="StartLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalDistance" type="xs:int" />
      <xs:element minOccurs="0" name="TotalExpenditure" type="xs:decimal" />
      <xs:element minOccurs="0" name="TourName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserAttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="userTable_OrderAttraction" nillable="true" type="q1:ArrayOfuserTable_OrderAttraction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAttractionEntity" nillable="true" type="tns:UserAttractionEntity" />
  <xs:complexType name="ArrayOfUserEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserEntity" nillable="true" type="tns:UserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserEntity" nillable="true" type="tns:ArrayOfUserEntity" />
  <xs:complexType name="UserEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressTwo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUTCDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaceBookId" type="xs:int" />
      <xs:element minOccurs="0" name="GooglePlusId" type="xs:int" />
      <xs:element minOccurs="0" name="MasterCityId" type="xs:int" />
      <xs:element minOccurs="0" name="MasterCountryId" type="xs:int" />
      <xs:element minOccurs="0" name="MasterStateId" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedUTCDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserEntity" nillable="true" type="tns:UserEntity" />
</xs:schema>