PlanGoGoAdmin/Service References/AdminUser/User3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdmin_GetUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Admin_GetUser" nillable="true" type="tns:Admin_GetUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdmin_GetUser" nillable="true" type="tns:ArrayOfAdmin_GetUser" />
  <xs:complexType name="Admin_GetUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminUserId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CredatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin_GetUser" nillable="true" type="tns:Admin_GetUser" />
</xs:schema>