PlanGoGoAdmin/Service References/AdminUser/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="User" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23457/Admin/User.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23457/Admin/User.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23457/Admin/User.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" />
      <xsd:import schemaLocation="http://localhost:23457/Admin/User.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IUser_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Admin_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_GetUser" />
  </wsdl:message>
  <wsdl:message name="IUser_Admin_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Admin_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUser_Admin_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Admin_CheckUserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_CheckUserExist" />
  </wsdl:message>
  <wsdl:message name="IUser_Admin_CheckUserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_CheckUserExistResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Admin_GetUserOnId_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_GetUserOnId" />
  </wsdl:message>
  <wsdl:message name="IUser_Admin_GetUserOnId_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_GetUserOnIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/CheckUser" message="tns:IUser_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/CheckUserResponse" message="tns:IUser_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Admin_GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Admin_GetUser" message="tns:IUser_Admin_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/Admin_GetUserResponse" message="tns:IUser_Admin_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Admin_UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Admin_UpdateUser" message="tns:IUser_Admin_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/Admin_UpdateUserResponse" message="tns:IUser_Admin_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Admin_CheckUserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Admin_CheckUserExist" message="tns:IUser_Admin_CheckUserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/Admin_CheckUserExistResponse" message="tns:IUser_Admin_CheckUserExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Admin_GetUserOnId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Admin_GetUserOnId" message="tns:IUser_Admin_GetUserOnId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/Admin_GetUserOnIdResponse" message="tns:IUser_Admin_GetUserOnId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUser" type="tns:IUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IUser/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_GetUser">
      <soap:operation soapAction="http://tempuri.org/IUser/Admin_GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUser/Admin_UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_CheckUserExist">
      <soap:operation soapAction="http://tempuri.org/IUser/Admin_CheckUserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_GetUserOnId">
      <soap:operation soapAction="http://tempuri.org/IUser/Admin_GetUserOnId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="BasicHttpBinding_IUser" binding="tns:BasicHttpBinding_IUser">
      <soap:address location="http://localhost:23457/Admin/User.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>