PlanGoGo/Service References/GetListValues/GetListValues.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetListValues" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23457/GetListValues.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23457/GetListValues.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23457/GetListValues.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetListValues_Public_GetCityList_InputMessage">
    <wsdl:part name="parameters" element="tns:Public_GetCityList" />
  </wsdl:message>
  <wsdl:message name="IGetListValues_Public_GetCityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:Public_GetCityListResponse" />
  </wsdl:message>
  <wsdl:message name="IGetListValues_Public_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:Public_GetCategory" />
  </wsdl:message>
  <wsdl:message name="IGetListValues_Public_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:Public_GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGetListValues_Public_FilterAttractions_InputMessage">
    <wsdl:part name="parameters" element="tns:Public_FilterAttractions" />
  </wsdl:message>
  <wsdl:message name="IGetListValues_Public_FilterAttractions_OutputMessage">
    <wsdl:part name="parameters" element="tns:Public_FilterAttractionsResponse" />
  </wsdl:message>
  <wsdl:message name="IGetListValues_Public_GetOrderOfAttractionVisit_InputMessage">
    <wsdl:part name="parameters" element="tns:Public_GetOrderOfAttractionVisit" />
  </wsdl:message>
  <wsdl:message name="IGetListValues_Public_GetOrderOfAttractionVisit_OutputMessage">
    <wsdl:part name="parameters" element="tns:Public_GetOrderOfAttractionVisitResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetListValues">
    <wsdl:operation name="Public_GetCityList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetListValues/Public_GetCityList" message="tns:IGetListValues_Public_GetCityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetListValues/Public_GetCityListResponse" message="tns:IGetListValues_Public_GetCityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Public_GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetListValues/Public_GetCategory" message="tns:IGetListValues_Public_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetListValues/Public_GetCategoryResponse" message="tns:IGetListValues_Public_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Public_FilterAttractions">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetListValues/Public_FilterAttractions" message="tns:IGetListValues_Public_FilterAttractions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetListValues/Public_FilterAttractionsResponse" message="tns:IGetListValues_Public_FilterAttractions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Public_GetOrderOfAttractionVisit">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetListValues/Public_GetOrderOfAttractionVisit" message="tns:IGetListValues_Public_GetOrderOfAttractionVisit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetListValues/Public_GetOrderOfAttractionVisitResponse" message="tns:IGetListValues_Public_GetOrderOfAttractionVisit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetListValues" type="tns:IGetListValues">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Public_GetCityList">
      <soap:operation soapAction="http://tempuri.org/IGetListValues/Public_GetCityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Public_GetCategory">
      <soap:operation soapAction="http://tempuri.org/IGetListValues/Public_GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Public_FilterAttractions">
      <soap:operation soapAction="http://tempuri.org/IGetListValues/Public_FilterAttractions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Public_GetOrderOfAttractionVisit">
      <soap:operation soapAction="http://tempuri.org/IGetListValues/Public_GetOrderOfAttractionVisit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetListValues">
    <wsdl:port name="BasicHttpBinding_IGetListValues" binding="tns:BasicHttpBinding_IGetListValues">
      <soap:address location="http://localhost:23457/GetListValues.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>