PlanGoGo/Service References/GetListValues/GetListValues3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.JsonParameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.JsonParameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCityVisitList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityVisitList" nillable="true" type="tns:CityVisitList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityVisitList" nillable="true" type="tns:ArrayOfCityVisitList" />
  <xs:complexType name="CityVisitList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="RecordIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityVisitList" nillable="true" type="tns:CityVisitList" />
</xs:schema>