PlanGoGo/Service References/GetListValues/GetListValues4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23457/GetListValues.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUserTable_UpdatedBreaks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTable_UpdatedBreaks" nillable="true" type="tns:UserTable_UpdatedBreaks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTable_UpdatedBreaks" nillable="true" type="tns:ArrayOfUserTable_UpdatedBreaks" />
  <xs:complexType name="UserTable_UpdatedBreaks">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsUserInterestedBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedDayBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedDinnerBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUserInterestedLunchBreak" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateDayEndTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdateDayStartTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdateDinnerMinimumTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedBreakMinimumTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedBreakTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedDinnerTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedLunchMinimumTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UpdatedLunchTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTable_UpdatedBreaks" nillable="true" type="tns:UserTable_UpdatedBreaks" />
  <xs:complexType name="ArrayOfUserTable_AttractionRequestOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTable_AttractionRequestOrder" nillable="true" type="tns:UserTable_AttractionRequestOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTable_AttractionRequestOrder" nillable="true" type="tns:ArrayOfUserTable_AttractionRequestOrder" />
  <xs:complexType name="UserTable_AttractionRequestOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTable_AttractionRequestOrder" nillable="true" type="tns:UserTable_AttractionRequestOrder" />
</xs:schema>