ServiceClient/Service References/MasterCategory/MasterCategory4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMasterTravelModeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterTravelModeDTO" nillable="true" type="tns:MasterTravelModeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterTravelModeDTO" nillable="true" type="tns:ArrayOfMasterTravelModeDTO" />
  <xs:complexType name="MasterTravelModeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TravelModeId" type="xs:int" />
      <xs:element minOccurs="0" name="TravelType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterTravelModeDTO" nillable="true" type="tns:MasterTravelModeDTO" />
</xs:schema>