ServiceClient/Service References/MasterCategory/MasterCategory5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMasterGoogleType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterGoogleType" nillable="true" type="tns:MasterGoogleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterGoogleType" nillable="true" type="tns:ArrayOfMasterGoogleType" />
  <xs:complexType name="MasterGoogleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayForUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExtraSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="GoogleTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="IsNeeded" type="xs:boolean" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterGoogleType" nillable="true" type="tns:MasterGoogleType" />
  <xs:complexType name="ArrayOfAdmin_MasterCategoryXMasterGoogleType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Admin_MasterCategoryXMasterGoogleType" nillable="true" type="tns:Admin_MasterCategoryXMasterGoogleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdmin_MasterCategoryXMasterGoogleType" nillable="true" type="tns:ArrayOfAdmin_MasterCategoryXMasterGoogleType" />
  <xs:complexType name="Admin_MasterCategoryXMasterGoogleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="MasterCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="MasterCategoryXMasterGoogleTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="MasterGoogleTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin_MasterCategoryXMasterGoogleType" nillable="true" type="tns:Admin_MasterCategoryXMasterGoogleType" />
</xs:schema>