ServiceClient/Service References/MasterCategory/MasterCategory1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Admin/MasterCategory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" />
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Admin/MasterCategory.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites" />
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Admin/MasterCategory.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.Common" />
  <xs:import schemaLocation="http://localhost/PlanGoGoService/Admin/MasterCategory.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" />
  <xs:element name="Admin_MasterCategoryUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="viewTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCategoryUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCategoryGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCategoryGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterCategoryGetResult" nillable="true" type="q1:ArrayOfMasterCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCategoryCheckExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCategoryCheckExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterCategoryCheckExistsResult" nillable="true" type="q2:ArrayOfMasterCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCategoryOnCategoryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCategoryOnCategoryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessEntites.Admin" minOccurs="0" name="Admin_MasterCategoryOnCategoryIdResult" nillable="true" type="q3:MasterCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_BreakInformationCheckExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="breakInformationId" type="xs:int" />
        <xs:element minOccurs="0" name="breakType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_BreakInformationCheckExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="Admin_BreakInformationCheckExistsResult" nillable="true" type="q4:ArrayOfBreakInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterBreakInfoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="breakInformationId" type="xs:int" />
        <xs:element minOccurs="0" name="breakType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minimumTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="display" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterBreakInfoUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Scheduler_GetTravelMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Scheduler_GetTravelModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessEntites.Common" minOccurs="0" name="Scheduler_GetTravelModeResult" nillable="true" type="q5:ArrayOfMasterTravelModeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_TravelModeCheckExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="travelModeId" type="xs:int" />
        <xs:element minOccurs="0" name="travelType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_TravelModeCheckExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="Admin_TravelModeCheckExistsResult" nillable="true" type="q6:ArrayOfBreakInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_TravelModeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="travelModeId" type="xs:int" />
        <xs:element minOccurs="0" name="travelType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_TravelModeUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterGoogleTypeGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterGoogleTypeGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" minOccurs="0" name="Admin_MasterGoogleTypeGetResult" nillable="true" type="q7:ArrayOfMasterGoogleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterGoogleTypeCheckExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="googleTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterGoogleTypeCheckExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" minOccurs="0" name="Admin_MasterGoogleTypeCheckExistsResult" nillable="true" type="q8:ArrayOfMasterGoogleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterGoogleTypeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" minOccurs="0" name="masterGoogleType" nillable="true" type="q9:MasterGoogleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterGoogleTypeUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCategoryXMasterGoogleType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_MasterCategoryXMasterGoogleTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessEntites.DataBaseModels" minOccurs="0" name="Admin_MasterCategoryXMasterGoogleTypeResult" nillable="true" type="q10:ArrayOfAdmin_MasterCategoryXMasterGoogleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>