PlanGoGoAdmin/Service References/AttractionsActiveStatus/AttractionsActiveStatus1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23457/Admin/AttractionsActiveStatus.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessEntites" />
  <xs:element name="Admin_AttractionsActiveStatusGetOnAttractionsActiveStatusId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttractionsActiveStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_AttractionsActiveStatusGetOnAttractionsActiveStatusIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessEntites" minOccurs="0" name="Admin_AttractionsActiveStatusGetOnAttractionsActiveStatusIdResult" nillable="true" type="q1:GetAttractionOpenTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>