PlanGoGoAdmin/Service References/AttractionsActiveStatus/AttractionsActiveStatus2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessEntites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessEntites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetAttractionOpenTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttractionsActiveStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="AttractionsId" type="xs:int" />
      <xs:element minOccurs="0" name="CloseTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeekName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAttractionOpenTime" nillable="true" type="tns:GetAttractionOpenTime" />
</xs:schema>